.navbar {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050; /* stays above sidebar & content */
}

.navbar-brand {
  font-size: 1.2rem;
}

.dropdown-menu {
  min-width: 180px;
}

.dropdown-item {
  cursor: pointer;
}
