body {
  background-color: #f4f6f9;
  
}

.dashboard-container {
  min-height: 100vh;
  padding-bottom: 40px;
  max-width:100%;
  overflow-x: hidden;
}

/* STATS */
.stats-card {
  border-radius: 14px;
  background: #ffffff;
  transition: 0.2s;
}

.stats-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.08);
}

.stats-title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6c757d;
  text-transform: uppercase;
}

.stats-value {
  font-size: 1.7rem;
  font-weight: 700;
}

/* UPLOAD */
.upload-card {
  background: #fff;
  border-radius: 14px;
  border: 2px dashed #ced4da;
  padding: 24px;
}

.upload-card:hover {
  border-color: #0d6efd;
}

/* TABLE */
.file-table th {
  font-size: 0.75rem;
  color: #6c757d;
  text-transform: uppercase;
}

.file-table tr:hover {
  background-color: #f8f9fa;
}

/* LOADING */
.loading-text {
  text-align: center;
  color: #6c757d;
}
