.login-page {
  min-height: 100vh;
    width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #9333ea);
}

.login-card {
  background: #ffffff;
  width: 360px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-card button:hover {
  background: #4338ca;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
